@font-face {
  font-family: 'NanumSangHaeCanMiCe';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url('https://cdn.jsdelivr.net/gh/fonts-archive/NanumSangHaeCanMiCe/NanumSangHaeCanMiCe.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/fonts-archive/NanumSangHaeCanMiCe/NanumSangHaeCanMiCe.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/fonts-archive/NanumSangHaeCanMiCe/NanumSangHaeCanMiCe.ttf') format('truetype');
}